.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e81f4;
    padding:5px 20px;
    position:fixed;
    z-index: 1;
    width: 97.3%;
}
.header > img {
    height: 40px;
    object-fit: contain;
}

.header__search{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    /* flex: 1; */
    width: 50%;
    padding: 5px;
    border-radius:999px;
}

.header__search > input {
    border: 0;
    flex: 1;
    outline: 0;
    background-color: #eff2f5;
    font-size: 16px;
}

.header__search > .MuiSvgIcon-root{
    color: grey !important;
    font-size:20px !important;
}

.header__text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icons{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.avatar {
    border:1px solid whitesmoke !important;
    cursor: pointer;
}